{{!-- Footer --}}
<footer class="page-footer font-small special-color-dark pt-4">
    {{!-- Copyrigth --}}
    <div class="footer-copyright text-center py-3">@ 2024 Copyrigth:
        <a href="mailto:">jonasmoreira076@gmail.com</a>
    </div>
</footer>