<main>
{{!-- Formulario --}}
<div class="container">
    <div class="row">
        <div class="col-4 offset-3">
            <form action="/cadastrar" method="post" enctype="multipart/form-data">
                {{!-- passando as informações pleo value para o banco --}}
                <input type="text" value="" name="nome" class="form-control" placeholder="Nome do produto">
                <input type="number" value="" name="valor" class="form-control" placeholder="Valor do produto">
                <input type="file" value="" name="imagem" class="form-control">
                <input type="submit" class="btn btn-primary" value="Cadastrar">
            </form>
        </div>
    </div>
</div>
</main>